.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.date-width {
  width: 49% !important;
}

.custom-select {
  width: 49% !important;
}

h1 {
  text-align: center;
}

.label-left {
  align-items: left;
}

.custom-select {
  margin-left: 1.4%;
}
.butHolder {
  position: absolute;
  left: 45%;
}
@media (max-width: 765px) {
  .butHolder {
    position: absolute;
    left: 40%;
  }
  .custom-select {
    max-width: 100% !important;
    margin-left: 5%;
  }
  .react-datepicker__month-container {
    max-width: 70%;
  }
  .react-datepicker__time-container {
    max-width: 70%;
  }
  .react-datepicker {
    max-width: 100%;
    margin-left: 1%;
  }
}
.react-datepicker__input-container {
  padding-right: 0%;
  padding-left: 0%;
  width: 100% !important;
}
